-filter_name = @filter_name

#filter_data
  =render partial: "filter_#{filter_name}"
button onclick="filter()"
  |FILTER
#results
  |DATA GETS FILLED HERE BY JAVASCRIPT

javascript:
  function filter(){
    var data = getData();
      $.post('/view/filtered', {filter:"#{filter_name}", data:data}).then(function (response) {
          $(results).empty();
          $(results).append($(response));
        });
    }