.tg  {border-collapse:collapse;border-spacing:0;border-color:#aabcfe;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:0px 3px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#669;background-color:#e8edff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:0px 3px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#039;background-color:#b9c9fe;}
.tg .tg-m8u4{font-weight:bold;background-color:#b9c9fe}
.tg .tg-wyfo{font-weight:bold;font-family:"Trebuchet MS", Helvetica, sans-serif !important;;background-color:#b9c9fe;text-align:center}
.tg .tg-sq21{font-weight:bold;background-color:#b9c9fe;text-align:right}
.tg .tg-lz1j{font-weight:bold;font-family:"Trebuchet MS", Helvetica, sans-serif !important;;text-align:center}
.tg .tg-d8ej{background-color:#b9c9fe}
.tg .tg-0qhn{font-weight:bold;font-family:"Trebuchet MS", Helvetica, sans-serif !important;}
.tg .tg-lhfu{font-family:"Trebuchet MS", Helvetica, sans-serif !important;}
.tg .tg-9qc9{font-family:"Trebuchet MS", Helvetica, sans-serif !important;;background-color:#e8edff}