.tg  {border-collapse:collapse;border-spacing:0;border-color:#aabcfe; margin-left:3%;}
.tg td{font-family:Arial, sans-serif;font-size:14px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#669;background-color:#e8edff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#039;background-color:#b9c9fe;}
.tg .tg-s6z2{text-align:center}
.tg .tg-031e{text-align:center}
.tg .tg-e3zv{font-weight:bold}
.tg .tg-hgcj{font-weight:bold;text-align:center}
h2 {
	margin-top:2%;
	margin-left:2%;
}

.container table {
	
	display: inline-block;


}

#left, #right{
	margin-top: 20px;
	margin-bottom: 20px;
}

#right{
	float:right;
	margin-right:-6%;
}

.container #left{
	float:left;
}

.container #left tr td, .container #left tr th{
	width: 250px;
	text-align:center;
}
#host{
	
	margin-left:2%;
	width:95%;
}
#guest{
	margin-top:2%;
	margin-left:2%;
	width:95%;
}
.tabdata{
	display: none;
	margin-left:6%;

}
.tabdata.active{
	display:block;
}
#tables{
	margin-bottom: 100px;
}

table#right tr td input.inner{
	width:50px;
}

table#left.tg tr td input.spectators, .zone, table#right tr td input{
	width:100%;
	background:rgba(0,0,0,0);
	border:none;
	text-align: center;
	box-shadow: none;
}


#legenda{
	margin-top:45px;
	margin-left:35.5%;
	
}

.glyphicon-plus-sign, .glyphicon-minus-sign{
	cursor: pointer;
}

#result{
	margin-left:32%;
}

input.result{
	width:35px;
}

#button{
	margin-top:25px;
	margin-left: 42%;
}

a#bvf{
	margin-left: 27%;

}

h3{
	float:right;
	margin-right: 33%;
}


#scores{
  margin-left: 45%;
}

#scores h2{
  display: inline-block;
}
