.body {
    padding-bottom: 60px;
}﻿
.intro-header {
	padding-top: 195px;
	/*padding-bottom: 110px; */
	color: #f8f8f8;
	background: url("http://imgur.com/Bgbb3Nh") no-repeat center center;
	background-size: cover;
}